body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: mintcream;
  border: 2.5px solid forestgreen;
}

a {
  color: #00B7FF;
}

p:first-of-type {
  font-style: italic;
  color: grey;
  font-size: 1.25rem;
}
